<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener App</title>
    <script src='../app.js'></script>
    <link rel="stylesheet" href="/style.css">
    
</head>

<body>
    <h1>URL Shortener</h1>

    <div class="form-container">
        <% if (errorMessage) { %>
            <p style="color: red;"><%= errorMessage %></p>
        <% } %>
        <form id="urlForm" action="/" method="POST">
            <label for="urlInput">Enter URL:</label>
            <input type="text" id="urlInput" name="long_url" required placeholder="http://this.is.way/too/long?isnt=it">
            <label for="aliasInput">Enter alias:</label>
            <input type="text" id="aliasInput" name="short_url" placeholder="http://localhost:3000/......">
            <input type="submit" value="Shorten URL">
        </form>
    </div>

    <div class="table-container">
        <table id="urlTable">
            <tr>
                <th>Original URL</th>
                <th>Shortened URL</th>
            </tr>
            <% if(url.length>0){ %>
            <% url.forEach( (url) => { %>
            <tr>
                
                <td><a href=<% url.long_url%> ><%= url.long_url %></a></td>
                <td><a href=<%= 'http://localhost:3000/' + url.short_url %>><%= 'http://localhost:3000/' + url.short_url %></a></td>
               
            </tr>
            <% }) }%>
            
        </table>
    </div>
</body>

</html>